<%- include('header') %>


<h2>
  Editar categoria:
  <a href="/admin/categorias">Categorias</a>
</h2>

<div>
  <form method="POST">
    <label>
      Titulo da vaga:
    </label>
    <input type="text" name="categoria" value="<%= categoria.categoria%>">
    <br>
    <button>Salvar categoria</button>
  </form>
</div>

<%- include('footer') %>